{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- Preloader -->
    {% include "partials/preloader.html" %}

    <!-- Search Wrapper -->
    {% include "partials/search.html" %}

    <!-- Header Area -->
    {% include "partials/header/header_area.html" %}

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                {% if recipes %}
                    {% for recipe in recipes %}
                        <!-- Single Best Receipe Area -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-best-receipe-area mb-30">
                                <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="">
                                <div class="receipe-content">
                                    <a href="{% url 'recipe' recipe.id %}">
                                        <h5>{{ recipe.recipe_name }}</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %} <!-- e se eu retirar esse "else", o que acontece? -->
                    <h2>No recipe found</h2>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    <!-- Footer Area -->
    {% include 'partials/footer.html' %}

{% endblock %}
